

<div class="panel panel-default">
  <div class="panel-heading">New Application</div>
  <div class="panel-body">
    
<form name="newAppForm" class="form-horizontal" ng-submit="submitForm(newAppForm.$valid)" novalidate>
  <fieldset>
    
    <div class="form-group required" >
      <label for="appId" class="col-lg-2 control-label">Application ID :</label>
      <div class="col-lg-4" ng-class="{ 'has-error' : newAppForm.appId.$touched && newAppForm.appId.$invalid}">
        <input class="form-control text-Transform" name="appId" placeholder="e.g. LH-001" type="text" ng-model="appId" required>
           <span ng-show="newAppForm.appId.$touched && newAppForm.appId.$invalid">Please enter App Id to proceed.</span>
         </div>
        </div>
      
    <div class="form-group required" >
       <label for="appName" class="col-lg-2 control-label">Application Name :</label>
      <div class="col-lg-8" ng-class="{ 'has-error' : newAppForm.appName.$touched && newAppForm.appName.$invalid}">
        <input class="form-control" name="appName" placeholder="e.g. IdentityIQ" type="text" ng-model="appName" required>
           <span ng-show="newAppForm.appName.$touched && newAppForm.appName.$invalid">Please enter App Name to proceed.</span>
     </div>
    </div>
      
    <div class="form-group required">
       <label for="appSomFullName" class="col-lg-2 control-label">Application SOM :</label>
      <div class="col-lg-4" ng-class="{ 'has-error' : newAppForm.appSomFirstName.$touched && newAppForm.appSomFirstName.$invalid}">
        <input class="form-control"  name="appSomFirstName" placeholder="First Name" type="text" ng-model="appSomFirstName" required>
            <span ng-show="newAppForm.appSomFirstName.$touched && newAppForm.appSomFirstName.$invalid">Please enter First Name to proceed.</span>

     </div>
        <div class="col-lg-4" ng-class="{ 'has-error' : newAppForm.appSomLastName.$touched && newAppForm.appSomLastName.$invalid}">
        <input class="form-control" name="appSomLastName" placeholder="Last Name" type="text" ng-model="appSomLastName" required>
            <span ng-show="newAppForm.appSomLastName.$touched && newAppForm.appSomLastName.$invalid">Please enter Last Name to proceed.</span>
     </div>
        
        
    </div>
      
      <div class="form-group">
       <label for="appSomContact" class="col-lg-2 control-label"></label>
      <div class="col-lg-4" ng-class="{ 'has-error' : newAppForm.appSomEmail.$touched && newAppForm.appSomEmail.$invalid}">
        <input class="form-control" name="appSomEmail" placeholder="E-Mail Address" type="email" ng-model="appSomEmail" required>
          <span ng-show="newAppForm.appSomEmail.$touched && newAppForm.appSomEmail.$invalid">Please enter a valid E-mail to proceed.</span>
     </div>
        <div class="col-lg-4">
        <input class="form-control" name="appSomPhoneNo" placeholder="Phone Number" type="text" ng-model="appSomPhoneNo">
     </div>
        
    </div>
    
      
      <div class="form-group required">
       <label for="appSmeFullName" class="col-lg-2 control-label">Application SME :</label>
      <div class="col-lg-4" ng-class="{ 'has-error' : newAppForm.appSmeFirstName.$touched && newAppForm.appSmeFirstName.$invalid}">
        <input class="form-control" name="appSmeFirstName" placeholder="First Name" type="text" ng-model="appSmeFirstName" required>
          <span ng-show="newAppForm.appSmeFirstName.$touched && newAppForm.appSmeFirstName.$invalid">Please enter First Name to proceed.</span>
     </div>
          <div class="col-lg-4" ng-class="{ 'has-error' : newAppForm.appSmeLastName.$touched && newAppForm.appSmeLastName.$invalid}">
        <input class="form-control" name="appSmeLastName" placeholder="Last Name" type="text" ng-model="appSmeLastName" required>
        <span ng-show="newAppForm.appSmeLastName.$touched && newAppForm.appSmeLastName.$invalid">Please enter Last Name to proceed.</span>
     </div>
       
    </div>
      
      <div class="form-group">
          <label for="appSmeContact" class="col-lg-2 control-label"></label>
      <div class="col-lg-4" ng-class="{ 'has-error' : newAppForm.appSmeEmail.$touched && newAppForm.appSmeEmail.$invalid}">
        <input class="form-control" name="appSmeEmail" placeholder="Email Address" type="email" ng-model="appSmeEmail" required>
        <span ng-show="newAppForm.appSmeEmail.$touched && newAppForm.appSmeEmail.$invalid">Please enter a valid E-mail to proceed.</span>
     </div>
    <div class="col-lg-4">
        <input class="form-control" name="appSmePhoneNo" placeholder="Phone Number" type="text" ng-model="appSmePhoneNo">
     </div>
          
    <div class="col-lg-2">
<a class="btn btn-success" data-target="#addMoreSme" role="button" data-toggle="modal"><span class="glyphicon glyphicon-plus">&nbsp;</span>Add More SME</a>
     </div>
          
          
          
              
      <!-- Modal to add more SME -->
      
<div id="addMoreSme" class="modal">  <!-- Modal starts -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-hidden="true" type="button" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">SME Details</h4>
      </div>
      <div class="modal-body">
        <div class="row">
    <div class="col-lg-6" ng-class="{ 'has-error' : newAppForm.appSmeFirstNameMore.$touched && newAppForm.appSmeFirstNameMore.$invalid}">
        <input class="form-control" name="appSmeFirstNameMore" placeholder="First Name" type="text" ng-model="appSmeFirstNameMore" required>
         <span ng-show="newAppForm.appSmeFirstNameMore.$touched && newAppForm.appSmeFirstNameMore.$invalid">Please enter First Name to proceed.</span>
     </div>
    <div class="col-lg-6" ng-class="{ 'has-error' : newAppForm.appSmeLastNameMore.$touched && newAppForm.appSmeLastNameMore.$invalid}">
        <input class="form-control" name="appSmeLastNameMore" placeholder="Last Name" type="text" ng-model="appSmeLastNameMore" required>
          <span ng-show="newAppForm.appSmeLastNameMore.$touched && newAppForm.appSmeLastNameMore.$invalid">Please enter Last Name to proceed.</span>
     </div>
          </div>
          
          <div class="row">
    <div class="col-lg-6" ng-class="{ 'has-error' : newAppForm.appSmeEmailMore.$touched && newAppForm.appSmeEmailMore.$invalid}">
        <input class="form-control" name="appSmeEmailMore" placeholder="Email Address" type="email" ng-model="appSmeEmailMore" required>
         <span ng-show="newAppForm.appSmeEmailMore.$touched && newAppForm.appSmeEmailMore.$invalid">Please enter a valide E-mail to proceed.
     </div>
    <div class="col-lg-6">
        <input class="form-control" name="appSmePhoneNoMore" placeholder="Phone Number" type="text" ng-model="appSmePhoneNoMore">
     </div>
        
          
          </div>
          
          
          
          
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" type="button" data-dismiss="modal" ng-disabled="newAppForm.appSmeFirstNameMore.$touched && newAppForm.appSmeFirstNameMore.$invalid || newAppForm.appSmeLastNameMore.$touched && newAppForm.appSmeLastNameMore.$invalid || newAppForm.appSmeEmailMore.$touched && newAppForm.appSmeEmailMore.$invalid">ADD SME</button>
      </div>
    </div>
  </div>
</div>   <!-- Modal ends -->
    </div>
       
   
        
           
       <div class="form-group">
      <label for="selectedAppIsgConsultant" class="col-lg-2 control-label">App ISG Consultant :</label>
      <div class="col-lg-4">                
          <select class="form-control" name="selectedAppIsgConsultant" ng-model="selectedAppIsgConsultant" ng-options="x for x in isgConsultants">             
        </select>       
      </div>    
        </div>
          
    <div class="form-group">
      <label class="col-lg-2 control-label">Part of :</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input name="partOf" name="partOfBau" value="BAU" ng-checked="true" type="radio" ng-model="partOf">
            Business As Usual (BAU)
          </label>
        </div>
        <div class="radio">
          <label>
            <input name="partOf" name="partOfProject" value="Project" type="radio" ng-model="partOf">
            Project
          </label>
        </div>
      </div>
    </div>
    
    
    <div class="form-group">
      <label class="col-lg-2 control-label">Type :</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input name="type" name="typeSox" value="SOX" ng-checked="true" type="radio" ng-model="type">
            SOX Compliant
          </label>
        </div>
        <div class="radio">
          <label>
            <input name="type" name="typeNonSox" value="NonSOX" type="radio" ng-model="type">
            Non-SOX Compliant
          </label>
        </div>
      </div>
    </div>
      
    
      
       <div class="form-group">
      <label for="releaseTarget" class="col-lg-2 control-label">Release Target :</label>
      <div class="col-lg-4">                
          <select class="form-control" name="selectedRelease" ng-model="selectedRelease" ng-options="x for x in releases">             
        </select>       
      </div>    
        </div>
      
      <div class="form-group">
      <label class="col-lg-2 control-label" for="select">Priority : </label>
      <div class="col-lg-4">
        <select class="form-control" name="selectedPriority" ng-model="selectedPriority" ng-options="x for (x,y) in priorities">
               
        </select>
       
      </div>
    </div>
      
  
         
      <div class="form-group-buttonsEnd">
      <div class="btn-group btn-group-justified">
        <button type="reset" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-remove-circle">&nbsp;</span>Reset</button>
          <button class="btn btn-primary btn-lg" ng-disabled="newAppForm.$invalid"><span class="glyphicon glyphicon-retweet">&nbsp;</span>Save & Continue</button>
      </div>
    </div>
      
      
      
      
      
      
      
      
      </div>
      
      </fieldset>
</form>
      
      
  </div>
    
</div>

      
      
   
