

<div class="panel panel-default">
  <div class="panel-heading">New Application</div>
  <div class="panel-body">
    
      <form class="form-horizontal">
  <fieldset>
    
    <div class="form-group">
      <label for="appId" class="col-lg-2 control-label">Application ID :</label>
      <div class="col-lg-2">
        <input class="form-control" id="appId" placeholder="e.g. LH-001" type="text" ng-model="appId">
      </div>
        {{appId}}
      
    </div>
      
    <div class="form-group">
       <label for="appName" class="col-lg-2 control-label">Application Name :</label>
      <div class="col-lg-8">
        <input class="form-control" id="appName" placeholder="e.g. IdentityIQ" type="text" ng-model="appName">
     </div>
    </div>
      
    <div class="form-group">
       <label for="appSomFullName" class="col-lg-2 control-label">Application SOM :</label>
      <div class="col-lg-4">
        <input class="form-control" id="appSomFirstName" placeholder="First Name" type="text" ng-model="appSomFirstName">
     </div>
        <div class="col-lg-4">
        <input class="form-control" id="appSomLastName" placeholder="Last Name" type="text" ng-model="appSomLastName">
     </div>
        
        
    </div>
      
      <div class="form-group">
       <label for="appSomContact" class="col-lg-2 control-label"></label>
      <div class="col-lg-4">
        <input class="form-control" id="appSomEmail" placeholder="E-Mail Address" type="email" ng-model="appSomEmail">
     </div>
        <div class="col-lg-4">
        <input class="form-control" id="appSomPhoneNo" placeholder="Phone Number" type="text" ng-model="appSomPhoneNo">
     </div>
        
    </div>
    
      
      <div class="form-group">
       <label for="appSme" class="col-lg-2 control-label">Application SME :</label>
      <div class="col-lg-4">
        <input class="form-control" id="appSmeFirstName" placeholder="First Name" type="text" ng-model="appSmeFirstName">
     </div>
          <div class="col-lg-4">
        <input class="form-control" id="appSmeLastName" placeholder="Last Name" type="text" ng-model="appSmeLastName">
     </div>
       
    </div>
      
      
      
      
      
      <div class="form-group">
          <label for="appSmeContact" class="col-lg-2 control-label"></label>
      <div class="col-lg-4">
        <input class="form-control" id="appSmeEmail" placeholder="Email Address" type="email" ng-model="appSmeEmail">
     </div>
    <div class="col-lg-4">
        <input class="form-control" id="appSmePhoneNo" placeholder="Phone Number" type="text" ng-model="appSmePhoneNo">
     </div>
          
    <div class="col-lg-2">
<a class="btn btn-success" data-target="#addMoreSme" role="button" data-toggle="modal"><span class="glyphicon glyphicon-plus">&nbsp;</span>Add More SME</a>
     </div>
              
      <!-- Modal to add more SME -->
      
<div id="addMoreSme" class="modal">  <!-- Modal starts -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-hidden="true" type="button" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">SME Details</h4>
      </div>
      <div class="modal-body">
        <div class="row">
    <div class="col-lg-6">
        <input class="form-control" id="appSmeFirstName" placeholder="First Name" type="text" ng-model="appSmeFirstName">
     </div>
    <div class="col-lg-6">
        <input class="form-control" id="appSmeLastName" placeholder="Last Name" type="text" ng-model="appSmeLastName">
     </div>
          </div>
          
          <div class="row">
    <div class="col-lg-6">
        <input class="form-control" id="appSmeEmail" placeholder="Email Address" type="email" ng-model="appSmeEmail">
     </div>
    <div class="col-lg-6">
        <input class="form-control" id="appSmePhoneNo" placeholder="Phone Number" type="text" ng-model="appSmePhoneNo">
     </div>
        
          
          </div>
          
          
          
          
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" type="button" data-dismiss="modal">ADD SME</button>
      </div>
    </div>
  </div>
</div>   <!-- Modal ends -->
      
  
         

    </div>
      
      
      
      
      
      
      
      
    <div class="form-group">
      <label class="col-lg-2 control-label">Part of :</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input name="partOf" id="partOfBau" value="BAU" ng-checked="true" type="radio" ng-model="partOf">
            Business As Usual (BAU)
          </label>
        </div>
        <div class="radio">
          <label>
            <input name="partOf" id="partOfProject" value="Project" type="radio" ng-model="partOf">
            Project
          </label>
        </div>
      </div>
    </div>
      
    
    <div class="form-group">
      <label class="col-lg-2 control-label">Type :</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input name="type" id="typeSox" value="SOX" ng-checked="true" type="radio" ng-model="type">
            SOX Compliant
          </label>
        </div>
        <div class="radio">
          <label>
            <input name="type" id="typeNonSox" value="NonSOX" type="radio" ng-model="type">
            Non-SOX Compliant
          </label>
        </div>
      </div>
    </div>
      
     {{type}}
      
       <div class="form-group">
      <label for="releaseTarget" class="col-lg-2 control-label">Release Target :</label>
      <div class="col-lg-4">
        <input class="form-control" id="releaseTarget" type="date" ng-model="releaseTarget">
      </div>
    
        </div>
      
      <div class="form-group">
      <label class="col-lg-2 control-label" for="select">Priority : </label>
      <div class="col-lg-4">
        <select class="form-control" id="select" ng-model="selectedPriority" ng-options="x for (x,y) in cars">
               
        </select>
       
      </div>
    </div>
      
      {{selectedPriority}}
        
         
      <div class="form-group-buttonsEnd">
      <div class="btn-group btn-group-justified">
        <button type="reset" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-remove-circle">&nbsp;</span>Reset</button>
        <a class="btn btn-primary btn-lg" href="#!/app/appLayers"><span class="glyphicon glyphicon-retweet">&nbsp;</span>Save & Continue</a>
      </div>
    </div>
      
      
      
      
      
      
      
      
      
      
      </fieldset>
</form>
      
      
  </div>
    
</div>

      
      
   
