<div class="panel panel-default">
<div class="panel-heading">Database</div>
    <div class="panel-body">
        <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label for="databaseAppId" class="col-lg-2 control-label">Application ID :</label>
                <div class="col-lg-2">
                    <select class="form-control" id="databaseAppId">
                    <option>LH-001</option>
                    <option>AR-001</option>
                    <option>CV-002</option>
                    </select>
                </div>
            </div>
            
            
            <div class="form-group">
                <label for="databaseTypeOfLayer" class="col-lg-2 control-label">Type :</label>
                <div class="col-lg-4">
                    <select class="form-control" id="databaseTypeOfLayer">
                    <option>Business</option>
                    <option>IT</option>
                    </select>
                </div>
          
                <label for="databaseSubTypeOfLayer" class="col-lg-2 control-label">Sub Type :</label>
                <div class="col-lg-4">
                    <select class="form-control" id="databaseSubTypeOfLayer">
                    <option>Application</option>
                    <option>Database</option>
                    </select>
                </div>
            </div>
            
         
            <div class="form-group">
                <label for="databaseTypeOfDatabase" class="col-lg-2 control-label">Database :</label>
                <div class="col-lg-4">
                    <select class="form-control" id="databaseTypeOfDatabase">
                    <option>Microsoft SQL</option>
                    <option>Oracle</option>
                    <option>Sybase</option>
                    <option>DB2</option>
                    </select>
                </div>
           
                <label for="databaseTypeOfDatabase" class="col-lg-2 control-label">Database Version:</label>
                <div class="col-lg-4">
                    <select class="form-control" id="databaseTypeOfDatabase">
                    <option>SQL 2005</option>
                    <option>SQL 2008</option>
                    <option>SQL 2012</option>
                    <option>Oracle 12i</option>
                    <option>Oracle 12g</option>
                    <option>Oracle 12c</option>
                    </select>
                </div>
            </div>
         
            
         
            
             <div class="form-group">
                <label for="databaseHostname" class="col-lg-2 control-label">Database Hostname :</label>
                <div class="col-lg-4">
                    <input class="form-control" id="databaseHostname" placeholder="e.g. sql.westpac.com.au" type="text">
                </div>
           
                <label for="databaseIP" class="col-lg-2 control-label">Database IP:</label>
                <div class="col-lg-4">
                   <input class="form-control" id="databaseIP" placeholder="e.g. 10.10.132.192" type="text">
                    </select>
                </div>
            </div>
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  
      <div class="form-group-buttonsEnd">
      <div class="btn-group btn-group-justified">
        <a href="#!/app/appLayers" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-menu-left">&nbsp;</span>Back</a>
        <button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-retweet">&nbsp;</span>Save & Continue</button>
      </div>
    </div>
            
        </fieldset>
        </form>
        </div>
</div>